<!doctype html>

<html>
    <head>
        <title>{{ status.summary }}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>

    <body>
        <div class="content">
            <div class="thread">
                <div class="thread_subject">
                    <b>{{ status.summary }}</b>
                    <p>{{ status.text }}</p>
                    <a href="{{ status.return_url }}">Return</a>
                </div>
            </div>
        </div>
    </body>
</html>
